In [1]:
import numpy as np
import pandas as pd

In [2]:
age=[12 , 13 , 14 , 21 , 24]

In [3]:
weights=[45 , 34 , 55   ,  76 , 45 , 35 , 89 ,98 , 75 ,1000]

In [4]:
## Variance

In [5]:
np.var(age)

22.96

In [6]:
np.std(age)

4.791659420284375

In [7]:
np.random.randint(10 , 100 , 5)

array([67, 78, 28, 23, 64])

In [8]:
data=[[10 , 12 , 13 ] , [34 ,56 , 78] ,[34 , 23 , 67]]
df=pd.DataFrame(data=data , columns='A B C'.split(sep = ' '))

In [9]:
df

    A   B   C
0  10  12  13
1  34  56  78
2  34  23  67

In [10]:
df.var()

A     192.000000
B     524.333333
C    1210.333333
dtype: float64

In [11]:
df.var(axis=1)

0      2.333333
1    484.000000
2    524.333333
dtype: float64